:root{
    --pink:#e84393;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2S linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow: hidden;
}

section{
    padding: 2rem 9%;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: gold;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgb(red, green, blue);
}

header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .logo span{
    color: var(--pink);
}

header .nav-bar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .nav-bar a:hover{
    color: var(--pink);
}

header .icon a{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}

header #togger{
    display: none;
}

head .far-bars{
    font-size:3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: 1px solid black ;
    display: none;
}

<h2 style="color:rgb(255, 255, 0);background-color:rgb(255, 0, 0);<img src="D:\web for final exam\Image\Image\gold.png" alt="marguee" style="width:70px;height:50px;">ខ្សែដៃ  Bracelets<img src="bracelet.png"e" style="width:70px;height:50px;"></marquee>
</h2>
<p>
    Discover our Range of Diamond Bracelets. Timeless Bespoke In-house and International Designs. Luxury Specialists. Bridal Jewellery. Specialty Diamonds. Exclusive Collections. Iconic Jewellery
</p>
<img src="images (3).jpg" width="320" height="200">
<img src="images (4).jpg" width="320" height="200">
<img src="images (5).jpg"width="320" height="200"><br>
<h2 style="color:rgb(255, 255, 0);background-color:rgb(255, 0, 0);<img src="D:\web for final exam\Image\Image\gold.png" alt="marguee" style="width:70px;height:50px;">ខ្សែជើង-Anklets<img src="anklet.png" style="width:70px;height:50px;"></marquee>
</h2>
<p>
Some of the popular anklets for women available on Etsy include: anklets for women sterling silver, anklets for women boho, anklets for women beach   , toe   rings
</p>
<img src="images (6).jpg" width="320" height="200">
<img src="images (8).jpg" width="320" height="200">
<img src="images (7).jpg"width="320" height="200"><br>
<p>